img {
    width: 30%;
    float: left;
    margin: 1.66%;
}
h1 {
 text-transform: uppercase;
 font-family: raleway;
 border-bottom: 2px solid rgb(150, 70, 110);
 padding-bottom: 20px;
 width: 30%;
 margin: 1.66%;
 color:rgb(150, 70, 110)
}